<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linkedln Matias (Ezequiel) Mendoza</title>
    <link rel="icon" href="../images/linkedln.png">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
    <!--Navegacion-->
    <nav class="navegacion">
        <div class="nav-logo">
            <a href="../index.html" class="logo">
                <img src="../images/logo.png" alt="Logo linkedn"></a>

            <div class="buscador">
                <img src="../images/search.png" alt="Buscador">
                <input type="text" placeholder="Buscar">
            </div>

        </div>
        <div class="nav-links">
            <ul>
                <li><a href="#" class="activar-link">
                    <img src="../images/home.png" alt="Logo Inicio">
                    <span class="nav-span">Inicio</span>
                </a>
            </li>
            <li><a href="#">
                    <img src="../images/network.png" alt="Logo Mi red trabajo">
                    <span class="nav-span">Mi red</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../images/jobs.png" alt="Logo Empleos">
                    <span class="nav-span">Empleos</span>
                </a></li>
            <li>
                <a href="#">
                    <img src="../images/message.png" alt="Logo Mensajes">
                    <span class="nav-span">Mensajes</span>
                </a>
            </li>
            <li>
                <a href="#"><img src="../images/notification.png" alt="Logo Notificaciones">
                    <span class="nav-span">Notificaciones</span>
                </a>
            </li>
            </ul>
        </div>
        <div class="nav-perfil">
            <div class="conectado">
                <img src="../images/Foto.jpg" alt="Foto de perfil" class="foto-perfil" id="foto-perfil">
            </div>
        </div>
        <!--Perfil-->
        <div class="menu-perfil-wrap " id="menuWrap">
            <div class="perfil-menu">
                <div class="informacion-usuario">
                    <img src="../images/Foto.jpg" alt="Foto personal">
                </div>
                <h3>Mendoza Matias</h3>
                <a href="#">Ver tu perfil</a>
                <hr>
                <a href="#" class="perfil-menu-link">
                    <img src="../images/feedback.png" alt="Icono opionio">
                    <p>Dar opinion</p>
                    <span>></span>
                </a>
                <a href="#" class="perfil-menu-link">
                    <img src="../images/setting.png" alt="Icono opciones">
                    <p>Opciones y Privacidad</p>
                    <span>></span>
                </a>
                <a href="#" class="perfil-menu-link">
                    <img src="../images/help.png" alt="Icono ayuda">
                    <p>Ayuda y soporte</p>
                    <span>></span>
                </a>
                <a href="#" class="perfil-menu-link">
                    <img src="../images/display.png" alt="Icono acceso ">
                    <p>Visualizacion y Acceso</p>
                    <span>></span>
                </a>
                <a href="#" class="perfil-menu-link">
                    <img src="../images/logout.png" alt="Icono cerrar sesion ">
                    <p>Cerrar Sesion</p>
                    <span>></span>
                </a>
            </div>
        </div>
    </nav>
    <!--Fin navegacion-->
    <main>
        <section class="contenido-perfil-menu contenedor">
            <div class="perfil-main">
                <div class="perfil-contenedor">
                    <img src="../images/portada-perfil.jpeg" width="100%">
                    <div class="contenido-interno">
                        <img src="../images/Foto.jpg" alt="Foto personal" class="perfil-foto-personal" width="100%">
                        <h1>Mendoza Matias Ezequiel</h1>
                        <b>🚀Full Stack developer Backend Java Trainee 🚀Estudiante de la Tecnicatura en programación |
                            Spring boot | Node.js | Mongodb | SQL | HTML CSS | Javascript | Git</b>
                        <p>Buenos Aires , Argentina <a href="#">Informacion de contacto</a></p>
                        <div class="contactos">
                            <img src="../images/sanTec.png" alt="conectado">
                            <span>1 Contacto en comun : Santader Tecnologia</span>
                        </div>
                        <div class="botones-perfil alinear-botones">
                            <div>
                            <li class="btn-blue"><img src="../images/connect.png" alt="Icono conectado">Contacto</li>
                            <li class="btn-gray"><img src="../images/message.png" alt="Icono mensaje">Mensaje</li>
                            <li class="btn-gray"><img src="../images/message.png" alt="Icono mensaje"><a target="_blank" href="https://github.com/Mendoza-Matias">Github</a></li>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="perfil-descripcion-main">
                    <h2>Sobre mi:</h2>
                    <p>
                        A lo largo de mi trayecto académico, he adquirido un amplio conjunto de conocimientos técnicos que abarcan lenguajes y herramientas clave como HTML, CSS, JavaScript,Java,React, Node.js, Bootstrap, Git, MongoDB, MySQL, Java, entre otras tecnologías. Mi enfoque actual se centra en el desarrollo de aplicaciones dinámicas, especialmente en el área del backend, y en la implementación de medidas de seguridad para proteger a los usuarios.</p>
                    <a href="#" class="saber-mas">Ver mas...</a>
                </div>
                <div class="perfil-descripcion-main">
                    <h2>Tecnologias</h2>
                    <div class="perfil-desc-row">
                        <img src="../images/java.png" alt="Logo Java">
                        <div>
                            <h3>Java</h3>
                            <b>Backend</b>
                            <hr>
                        </div>
                    </div>
                    <div class="perfil-desc-row">
                        <img src="../images/node.png" alt="Logo node.js">
                        <div>
                            <h3>Node.js</h3>
                            <b>Backend</b>
                            <hr>
                        </div>
                    </div>
                    <div class="perfil-desc-row">
                        <img src="../images/mysql.png" alt="Logo mysql">
                        <div>
                            <h3>MySql</h3>
                            <b>Base de datos</b>
                            <hr>
                        </div>
                    </div>
                    <div class="perfil-desc-row">
                        <img src="../images/mongo.png" alt="Logo mongodb">
                        <div>
                            <h3>Mongo DB</h3>
                            <b>Base de datos</b>
                            <hr>
                        </div>
                    </div>
                    <div class="perfil-desc-row">
                        <img src="../images/html.png" alt="Logo html">
                        <div>
                            <h3>Html</h3>
                            <b>Estructura de sitios webs</b>
                            <hr>
                        </div>
                    </div>
                    <div class="perfil-desc-row">
                        <img src="../images/css.png" alt="Logo css">
                        <div>
                            <h3>Css</h3>
                            <b>Estilos en cascada</b>
                            <hr>
                        </div>
                    </div>
                    <div class="perfil-desc-row">
                        <img src="../images/git.png" alt="Logo git">
                        <div>
                            <h3>Git</h3>
                            <b>Control de versiones</b>
                        </div>
                    </div>
                    <hr>
                    <a href="#" class="experiencia">Mostrar todo. <img src="../images/right-arrow.png" alt=""></a>
                </div>
                <div class="perfil-descripcion-main">
                    <h2>Educacion</h2>
                    <div class="perfil-desc-row">
                        <img src="../images/unahur.png" alt="Logo unahur">
                        <div>
                            <h3>Unahur - Universidad Nacional de Hurlingham</h3>
                            <b>Tecnicatura en programación</b>
                            <hr>
                        </div>
                    </div>
                    <div class="perfil-desc-row">
                        <img src="../images/pescar.png" alt="">
                        <div>
                            <h3>Becado Fundación Pescar</h3>
                            <b>Desarrollo Full Stack</b>
                        </div>
                    </div>
                    <hr>
                    <a href="#" class="experiencia">Mostrar todo. <img src="../images/right-arrow.png" alt=""></a>
                </div>
                <div class="perfil-descripcion-main alinear-botones">
                    <h2>Soft Skill</h2>
                    <li class="skill-btn">Responsable</li>
                    <li class="skill-btn">Creativo</li>
                    <li class="skill-btn">Autodidacta</li>
                    <li class="skill-btn">Compañero</li>
                    <li class="skill-btn">Entusiasta</li>
                    <li class="skill-btn">Colaborador</li>
                    <li class="skill-btn">Capacidad para liderar</li>
                </div>
                <div class="perfil-descripcion-main alinear-botones contacto">
                    <h2>Contacto</h2>
                    <li class="btn-gray">Correo mendoza.e.matias@gmail.com</li>
                    <li class="btn-gray">Telefono +541170001025</li>
                </div>
            </div>
            <!--sidebar perfil-->
            <div class="perfil-sidebar">
                <div class="sidebar-noticias">
                    <small>Anuncio</small>
                    <p>Busco trabajo como desarrollador Backend</p>
                    <div>
                        <img src="../images/Foto.jpg" alt="Foto personal">
                        <img src="../images/java.png" alt="Logo Java">
                    </div>
                    <b>Java developer Jr</b>
                    <a  href="../docs/cv.pdf" download="curriculum-Mendoza-Matias" class="noticia-link">Descargar cv</a>
                </div>
                <div class="personas-sidebar">
                    <h3>Otros perfiles vistos</h3>
                    <div class="personas-sidebar-row">
                        <img src="../images/accenture.png" alt="Logo Accenture">
                    </div>
                    <h3>Accenture</h3>
                    <p>Consultoria y servicio a empresas</p>
                    <a href="#" class="persona-link">Conectar</a>
                    <div class="personas-sidebar-row">
                        <img src="../images/sanTec.png" alt="Logo Santander tecnología">
                    </div>
                    <h3>Santander Tecnologia</h3>
                    <p>Servicios y consultoria de IT</p>
                    <a href="#" class="persona-link">Conectar</a>
                    <div class="personas-sidebar-row">
                        <img src="../images/pescar.png" alt="Logo Santander tecnología">
                    </div>
                    <h3>Fundación Pescar</h3>
                    <p>Organizaciones comunitarias y sociales</p>
                    <a href="#" class="persona-link">Conectar</a>
                </div>
            </div>
        </section>
        <footer class="perfil-footer contendor">
            <div class="links-utiles">
                <a href="#">Acerda de</a>
                <a href="#">Accesibilidad</a>
                <a href="#">Centro de ayuda</a>
                <a href="#">Privacidad y condiciones</a>
                <a href="#">Servicios empresariales</a>
                <a href="#">Descargar mi cv</a>

                <div class="copyright">
                    <img src="../images/logo.png" alt="Logo linkedn">
                    <p>Diseñado por Matias Mendoza 2023</p>
                </div>
            </div>
        </footer>
    </main>
    <script src="../js/app.js"></script>
</body>

</html>